
services:
  postgres:
    container_name: postgres
    image: postgres:15.2-alpine
    ports:
      - "5432:5432"
    restart: unless-stopped
    volumes:
      - /var/lib/postgresql/data/
    env_file:
      - .env

  server:
    container_name: server
    build:
      context: ./server
    ports:
      - "8000:8000"
    restart: always
    depends_on:
      - postgres
    env_file:
      - .env

  telegram_bot:
    container_name: telegram_bot
    build:
      context: ./telegram-bot
    ports:
      - "8080:8080"
    restart: always
    depends_on:
      - postgres
      - server
    env_file:
      - .env


volumes:
  postgres_data:
